<div class="navbar bg-base-100 shadow-lg">

    <div class="flex-1">

        <a class="btn btn-ghost text-xl" href="/">

            Climate Solutions

        </a>

    </div>

    <div class="flex-none">

        <ul class="menu menu-horizontal px-1">

            <li>

                <a href="/">Home</a>

            </li>

            <li>

                <a href="/about">About</a>

            </li>

            <li>

                <details>

                    <summary>

                        Sector

                    </summary>

                    <ul class="p-2 bg-base-100 rounded-t-none">

                        <li>

                            <a href="/solutions/projects?sector=Electricity">

                                Electricity

                            </a>

                        </li>

                        <li>

                            <a href="/solutions/projects?sector=Transportation">

                                Transportation

                            </a>

                        </li>

                        <li>

                            <a href="/solutions/projects?sector=Industry">

                                Industry

                            </a>

                        </li>

                        <li>

                            <a href="/solutions/projects?sector=Food">

                                Food

                            </a>

                        </li>

                        <li>

                            <a href="/solutions/projects?sector=Nature">

                                Nature

                            </a>

                        </li>

                    </ul>

                </details>

            </li>

        </ul>

    </div>

</div>