<!DOCTYPE html>
<html lang="en" data-theme="cupcake">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>404</title>

    <link href="/css/main.css" rel="stylesheet">

</head>

<body>

    <%- include("partials/navbar") %>

    <div class="hero min-h-[70vh]">

        <div class="hero-content text-center">

            <div>

                <h1 class="text-6xl font-bold">
                    404
                </h1>

                <p class="py-6">

                    <%= message %>

                </p>

                <a href="/" class="btn btn-primary">
                    Back Home
                </a>

            </div>

        </div>

    </div>

</body>

</html>